/*General*/

* {
  margin: 0;
}

header, main {
  padding-bottom: 10px;
}

/*Header*/

.pattern-title  {
  width: 100%;
  height: 50px;
  background-color: rgb(16, 119, 187);
  background-image: url(../img/pattern.png);
  background-size: 200px;
  
}

.pattern-title img {
  height: 80%;
  padding-top: 15px;
}

/* Main */

.lightweight {
  font-weight: 400;
  font-style: italic;
}

.photo-tim {
  width: 840px;
}
.photo-tim img {
  height: 300px;
}

.photo-explanation {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}