/*General*/

* {
  margin: 0;
}

header, main, p, table, ul {
  padding-bottom: 20px;
}

/*Header*/

.pattern-title  {
  width: 100%;
  height: 50px;
  background-color: rgb(16, 119, 187);
  background-image: url(../img/pattern.png);
  background-size: 200px;
  
}

.pattern-title img {
  height: 80%;
  padding-top: 15px;
}

/* Main */

.lightweight {
  font-weight: 400;
  font-style: italic;
}

.photo-tim {
  width: 840px;
  padding-bottom: 20px;
}
.photo-tim img {
  height: 300px;
}

.photo-explanation {
  font-size: 10px;
  font-style: italic;
  text-align: left;
}

p .highlight {
  background-color: yellow;
}

.row.head {
  background-color: rgb(13, 83, 203);
  color: white;
  text-align: left;
}

th {
  min-width: 150px;
}

.row.blue {
  background-color: rgb(26, 172, 213);
}
